body{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
}

.carddata{
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: rgb(198, 193, 193);
}
span.price {
    padding-right:20px ;
    float: right;
    color: rgb(18, 17, 17);
  }
.q{
    
   width: 10%;
   display: inline;
   margin: auto;;
    color: rgb(18, 17, 17);
}

   

