* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}


/* navbar */

#MainDiv{
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: rgb(238, 238, 238);
    color: #000;
    padding: 0 50px;
    border-bottom: 1px solid grey;;
}


.logo {
    display: flex;
    gap: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 3.5px;
    text-shadow: 2px 2px 4px black;
}

.logo img {
    height: 35px;
    animation: logo-animation 5s infinite;
}

@keyframes logo-animation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3.5px);
    }

    100% {
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}


.menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 4px;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

.menu a:hover {
    border-bottom-color: #000;
}


/* NabbarEnds */
/* first-Menu */


#container {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 80px;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#second h3 {
    color: grey;
    letter-spacing: 0.8px;
}

#second img {
    width: 400px;
}

#Second_div {
    display: flex;
    gap: 22px;
    margin-bottom: 75px;
}

#second p {
    font-size: 30px;
    font-weight: 1000;
    color: rgb(47, 109, 142);
}

#Second_div img {
    height: 240px;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#Second_div img:hover {
    transform: scale3d(1.1, 1.1, 1);
}

#first h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 100px;
    word-spacing: 25px;
    letter-spacing: 2px;
    margin: 20px;
}

/* first-Menu Ends*/




/* Second_Menu */



/* for slider */
/* popular things */

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



#Second_Menu {
    width: 80%;
    margin: auto;
    margin-top: 40px
}


#popular {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 20px;
}



.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging div {
    pointer-events: none;
}

.carousel div {
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel div img {
    height: 250px;

}

.carousel div h1 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: center;
   margin-top: 10px;
}

.carousel div:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}




/* slider */


#poster {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}


.slider {
    width: 100%;
    overflow: hidden;
}

.slider>div {
    display: flex;
    width: 200%;
    animation: slide 40s infinite linear backwards;
    /* animation: slide 20s infinite linear; */
}


.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider img {
    width: 100%;
    height: 300px;
}

.slider p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
}


@keyframes slide {
    0% {
        transform: translateX(0%)
    }

    20% {
        transform: translateX(-10%)
    }

    40% {
        transform: translateX(-20%)
    }

    60% {
        transform: translateX(-30%)
    }

    80% {
        transform: translateX(-40%)
    }
}

/* slider Ends */




/* footer */




#main-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 50px;
}

#icons{
margin-top: 10px;
padding-bottom: 50px;
}

#icons img{
    padding-left: 1px;
}

#footer-search input {
    width: 200px;
    height: 45px;
    padding: 14px;
    border: none;
    border-bottom: 1px solid rgb(113, 188, 228);
    ;
    font-size: 14px;
}

#footer p {
    color: black;
}

#main-footer #footer-btn {
    width: 100px;
    height: 45px;
    color: black;
    border: none;
    background-color: rgb(113, 188, 228);;
    font-size: 14px;
}

#main-footer img {
    width: 20px;
}

#main-footer p {
    color: black;
    font-size: 15px;
    line-height: 1.3pc;
}

#main-footer h3 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 3.5px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    letter-spacing: 1.5px;
}


#main-footer #footer-btn2 {
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #7ba1cd;
    font-size: 15px;
    margin-top: 10px;
}

#main-footer #footer-btn2:hover {
    background-color: #3a77be;
}